/*General*/
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

a {
  color: seashell;
}

/*Navbar*/
.navbar {
  position: fixed;
  width: 100%;
  height: 69px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-bottom: 1px solid seashell;
}

.navbar nav span {
  margin: auto 10px;
}

.navbar img {
  height: 50px;
  margin-left: 10px;
}

/*Header*/
#mission {
  display: flex;
  align-items: center;
  background: url(../img/img-mission-background.jpg) no-repeat center;
  height: 700px;
  margin-top: 69px;
}

.heading {
  background-color: black;
  width: 100%;
}

/*First section*/
#featured {
  max-width: 1000px;
  margin: 50px auto;
}

.featured-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.featured-img figure img {
  width: 300px;
  height: 200px;
  margin: 10px;
}

figure {
  margin: 10px 0;
}
